{% extends 'main/layout.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <div class="features">
        <h1>{{ title }}</h1><br>
        <div id="button-container"></div>
        <button onclick = "count_1(), count_2()" class="btn btn-info"><b>НАЧАТЬ ОПРОС</b></button>

        <script>

            function count_1(){
                let newBtn = document.createElement('button');
                newBtn.innerText="Вариант-1";
                document.querySelector('#button-container').appendChild(newBtn);
                console.log(document.querySelector("selector"));

            }





            function count_2(){
                let newBtn = document.createElement('button');
                newBtn.innerText="Вариант-2";
                document.querySelector('#button-container').appendChild(newBtn);
                console.log(document.querySelector("selector"));

            }



        </script>


    </div>



{% endblock %}