{% extends 'main/layout.html' %}
{% block title %}Новости на сайте{% endblock %}
{% block content %}



    <div class="features">
        <h1>ПРОЙТИ ОПРОС</h1>
            {% csrf_token %}
            {% for el in news %}
                <div class="alert alert-warning">
                    <h5>{{ el.title }}</h5>
                    <h4>{{ el.anons }}</h4>
                    <input type="text" id="func_js" name="username" minlength="3" maxlength="20" required>

                </div>
            {% endfor %}
        <button onclick="submit()">Кнопка</button>
    </div>
{% endblock %}









<!--                    <a href="{% url 'news-detail' el.id %}" class="btn btn-warning"><b>Отправить ответ</b></a>-->
<!--                <input type="submit" class="btn btn-danger" value="Отправить ответы"/>-->
<!--        {% for el in values %}-->
<!--            {% if el == 'Hello' %}-->
<!--                    <p>{{ el|upper }}</p>-->
<!--            {% endif %}-->
<!--        {% endfor %}-->

<!--        {% for el in obj %}-->
<!--            <p>{{ el }}</p>-->
<!--        {% endfor %}-->#}